<div class="body-bg">
    <div class="menu">
        <h1>Create Account</h1> <br>
        <h1>Product Detail</h1> <br>
        <h1>Business Detail</h1>
    </div>
    <div class="row register-container register-bg">
        <!-- Left Part -->
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 register-container-left">
            <div>
                <h1>Become a Seller</h1>
                <p>
                    Sell for free on India's Largest <b>B2B Platform businesses</b> & shop
                    owners
                </p>
            </div>

            <div>
                <h2>Free Registration / Sign In</h2>
                <input type="text" class="mobile-input" placeholder="Enter Your Mobile Number" />
            </div>

            <div>
                <button class="btn btn-danger">Start Selling</button>
            </div>
        </div>

        <!-- Right Part -->
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="row register-container-right">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-start">
                    <img src="../../../assets/img/MAN.png" alt="" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div>
                        <h1>Let's Work Together</h1>

                        <p>
                            "Unlock limitless growth for your business by joining our B2B portal
                            — where sellers thrive and opportunities abound."
                        </p>
                    </div>

                    <div>
                        <p><b>Call:</b> +91-9874563210</p>
                        <p><b>Email:</b> enquirytradehind.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>